fastapi
uvicorn
numpy
pydantic
tiktoken
openai
asyncio
datetime
sse_starlette
pydantic_settings
fastuuid
tqdm
pdfminer
redis
poetry
requests
pytest
azure.identity
azure.keyvault.secrets
azure.storage.blob